/* PÁGINA INICIAL */
.pg-inicial{

}
	.pg-inicial .secao-brindes{
		margin: 116px 0 150px;
	}
		.pg-inicial .secao-brindes h2{

		}
		.pg-inicial .secao-brindes .lista-brindes{
			margin: 107px 0 0;
			padding: 0;
			text-align: center;
		}
			.pg-inicial .secao-brindes .lista-brindes li{
				display: inline-block;
				max-width: 289px;
				width: 100%;
				vertical-align: top;
				padding: 0 7px;
			}
				.pg-inicial .secao-brindes .lista-brindes li figure{

				}
					.pg-inicial .secao-brindes .lista-brindes li figure img{

					}
				.pg-inicial .secao-brindes .lista-brindes li h2{
					font-size: 18px;
					text-transform: uppercase;
					margin: 61px 0 14px;
					line-height: 26px;
				}
				.pg-inicial .secao-brindes .lista-brindes li p{
					color: var(--cinza-titulo);
				}
	.pg-inicial .secao-empresa{
		margin: 80px 0 90px;
	}
		.pg-inicial .secao-empresa h2{

		}
		.pg-inicial .secao-empresa .conteudo-empresa{
			text-align: center;
			margin: 35px 0 0;
		}
			.pg-inicial .secao-empresa .conteudo-empresa p{
				max-width: 570px;
				line-height: 27px;
				text-align: left;
				padding-right: 9px;
			}
			.pg-inicial .secao-empresa .conteudo-empresa figure{
				max-width: 173px;
				margin: 0px 20px;
			}
				.pg-inicial .secao-empresa .conteudo-empresa figure img{
					width: 100%;
				}
			.pg-inicial .secao-empresa .conteudo-empresa p, .pg-inicial .secao-empresa .conteudo-empresa figure{
				display: inline-block;
				vertical-align: middle;
			}
	.pg-inicial .secao-acabamentos{
		background-color: var(--dourado-claro);
	}
		.pg-inicial .secao-acabamentos figure{

		}
			.pg-inicial .secao-acabamentos figure img{

			}
		.pg-inicial .secao-acabamentos .conteudo-acabamento{
			margin: 70px 0 0;
		}
			.pg-inicial .secao-acabamentos .conteudo-acabamento h2{
				color: #2c2c2c;
			}
			.pg-inicial .secao-acabamentos .conteudo-acabamento ul{
				padding: 0;
				margin: 0;
				text-align: center;
				max-width: 350px;
				margin: 50px auto 20px;
			}
				.pg-inicial .secao-acabamentos .conteudo-acabamento ul li{
					list-style: none;
					display: inline-block;
					max-width: 110px;
					width: 100%;
					text-transform: capitalize;
					font-size: 30px;
					margin: 12px 0;
					color: var(--cinza-titulo-escuro);
				}
			.pg-inicial .secao-acabamentos .conteudo-acabamento p{
				text-align: center;
				text-transform: uppercase;
				font-family: var(--times);
				color: #575757;
				padding: 15px 0 0;
				font-size: 16px;
			}
	.pg-inicial .secao-clientes{
		margin: 67px 0 90px;
	}
		.pg-inicial .secao-clientes h2{

		}
		.pg-inicial .secao-clientes .lista-clientes{
			margin: 80px 0 0;
		}
			.pg-inicial .secao-clientes .lista-clientes li{

			}
				.pg-inicial .secao-clientes .lista-clientes li a{
					outline: none;
				}
					.pg-inicial .secao-clientes .lista-clientes li a img{
						margin: 0 auto;
						width: 100%;
						max-width: 170px;
					}
	.pg-inicial .secao-contato{
		background-color: #191919;
		color: #fff;
		padding: 100px 0;
	}
		.pg-inicial .secao-contato h3{
			color: var(--dourado);
			margin: 0 0 20px;
		}
		.pg-inicial .secao-contato .informacoes-contato{
			
		}
			.pg-inicial .secao-contato .informacoes-contato p{
				color: #fff;
			}
			.pg-inicial .secao-contato .informacoes-contato h4{
				
			}
				.pg-inicial .secao-contato .informacoes-contato h4 a{
					color: #fff;
				}
			.pg-inicial .secao-contato .informacoes-contato a{

			}
				.pg-inicial .secao-contato .informacoes-contato a img{

				}
		.pg-inicial .secao-contato .formulario-contato{

		}
			.pg-inicial .secao-contato .formulario-contato form{
				max-width: 580px;
				padding-left: 10px;
			}
				.pg-inicial .secao-contato .formulario-contato form input{

				}
				.pg-inicial .secao-contato .formulario-contato form textarea{
					padding: 10px 7px !important;
					height: 170px;
					resize: none;
				}
				.pg-inicial .secao-contato .formulario-contato form input, .pg-inicial .secao-contato .formulario-contato form textarea{
					display: block;
					margin: 0 0 40px;
					width: 100%;
					padding: 13px 7px;
					font-family: var(--opensans);
					font-size: 13px;
					outline: none;
				}
				.pg-inicial .secao-contato .formulario-contato form input[type="submit"]{
					background-color: transparent;
					border: 1px solid #fff;
					display: inline-block;
					width: unset;
					padding: 17px 27px;
					font-family: var(--times);
					text-transform: uppercase;
					font-size: 12px;
				}
	.pg-inicial .mapa{
		height: 274px;
	}
		.pg-inicial .mapa iframe{
			width: 100%;
			height: 100%;
		}