/* PÁGINA DE ORÇAMENTO */

.pg-orcamento{
	padding: 94px 0 0;
}
	.pg-orcamento .informacoes-contato{
		margin: 99px 0 0 auto !important;
		padding: 0 10px;
	}
		.pg-orcamento .informacoes-contato figure.logo{
			margin: 0 0 40px;
		}
			.pg-orcamento .informacoes-contato figure.logo img{

			}
		.pg-orcamento .informacoes-contato p{
			margin: 0 0 10px;
		}
		.pg-orcamento .informacoes-contato h4{
			color: #575757;
			font-size: 23px !important;
		}
			.pg-orcamento .informacoes-contato h4 a{

			}
		.pg-orcamento .informacoes-contato a{

		}
			.pg-orcamento .informacoes-contato a img{

			}
	.pg-orcamento .formulario-orcamento{
		width: 100%;
		max-width: 590px;
		padding: 0 10px;
	}
		.pg-orcamento .formulario-orcamento h2{
			text-transform: uppercase;
			margin: 0 0 4px;
		}
		.pg-orcamento .formulario-orcamento p{
			color: #333333;
		}
		.pg-orcamento .formulario-orcamento form{
			text-align: right;
			margin: 55px 0 0;
		}
			.pg-orcamento .formulario-orcamento form input, .pg-orcamento .formulario-orcamento form textarea, .pg-orcamento .formulario-orcamento form select{
				display: block;
				width: 100%;
				padding: 8px 20px;
				border: none;
				background-color: #f4f4f4;
				margin: 16px 0;
				font-family: var(--opensans);
				color: #888 !important;
				outline: none;
				font-size: 16px;
			}
			.pg-orcamento .formulario-orcamento form input{

			}
			.pg-orcamento .formulario-orcamento form input#cidade, .pg-orcamento .formulario-orcamento form select, .pg-orcamento .formulario-orcamento form input#telefone, .pg-orcamento .formulario-orcamento form input#celular{
				display: inline-block;
				max-width: 49%;
			}
			.pg-orcamento .formulario-orcamento form input#cidade, .pg-orcamento .formulario-orcamento form input#telefone{

			}
			.pg-orcamento .formulario-orcamento form select, .pg-orcamento .formulario-orcamento form input#celular{

			}
			.pg-orcamento .formulario-orcamento form input#cidade{

			}
			.pg-orcamento .formulario-orcamento form select{

			}
			.pg-orcamento .formulario-orcamento form input#telefone{

			}
			.pg-orcamento .formulario-orcamento form input#celular{

			}
			.pg-orcamento .formulario-orcamento form .checkboxes{
				text-align: left;
			}
				.pg-orcamento .formulario-orcamento form .checkboxes label{
					display: block;
					font-family: var(--opensans);
					font-weight: normal;
					font-size: 12px;
					color: #999999;
					margin: 30px 0;
					cursor: pointer;
				}
					.pg-orcamento .formulario-orcamento form .checkboxes label input{
						display: inline-block;
						max-width: 20px;
						margin: 0;
						visibility: hidden;
					}
					.pg-orcamento .formulario-orcamento form .checkboxes label span{
						display: inline-block;
						position: relative;
						padding-left: 15px;
						padding-top: 3px;
					}
					.pg-orcamento .formulario-orcamento form .checkboxes label span::before{
						content: '';
						position: absolute;
						display: block;
						width: 18px;
						height: 18px;
						top: 50%;
						left: -24px;
						border: 2px solid #999999;
						border-radius: 4px;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
					.pg-orcamento .formulario-orcamento form .checkboxes label span::after{
						content: '';
						position: absolute;
						display: none;
						width: 18px;
						height: 18px;
						top: 42%;
						left: -21px;
						background-image: url(../img/check.svg);
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
					.pg-orcamento .formulario-orcamento form .checkboxes label input:checked + span::after{
						display: block;
					}
			.pg-orcamento .formulario-orcamento form textarea{
				height: 185px;
				resize: none;
				font-size: 12px;
				padding: 8px 10px;
			}
			.pg-orcamento .formulario-orcamento form input[type=submit]{
				font-family: var(--times);
				text-transform: uppercase;
				font-size: 13px;
				color: #333 !important;
				border: 1px solid #000;
				background-color: transparent;
				display: inline-block;
				width: unset;
				padding: 15px 25px;
			}