/* PÁGINA DE PRODUTOS */

.pg-produtos{

}
	.pg-produtos .filtro-produtos{
		text-align: center;
		font-size: 15px;
		font-family: var(--opensans);
		margin: 32px 0 70px;
	}
		.pg-produtos .filtro-produtos a{
			display: inline-block;
		}
		.pg-produtos .filtro-produtos ul{
			display: inline-block;
			margin: 0;
			padding: 0;
			vertical-align: middle;
			text-align: left;
			margin-left: 15px;
		}
			.pg-produtos .filtro-produtos ul li{
				display: inline-block;
				text-align: center;
				margin: 0;
				width: 100%;
				max-width: 101px;
				margin: 10px 0;
			}
				.pg-produtos .filtro-produtos ul li a{

				}
	.pg-produtos .secao-produtos{
		margin: 0 0 80px;
	}
		.pg-produtos .secao-produtos .lista-produtos{
			padding: 0;
			margin: 0;
			font-size: 0;
		}
			.pg-produtos .secao-produtos .lista-produtos li{
				list-style: none;
				display: inline-block;
				width: 100%;
				max-width: fit-content;
				padding: 0 7px;
				cursor: pointer;
			}
				.pg-produtos .secao-produtos .lista-produtos li figure{
					max-width: 270px;
				}
					.pg-produtos .secao-produtos .lista-produtos li figure img{
						width: 100%;
					}
	.pg-produtos .pop-up{
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: 5;
		background-color: rgba(0, 0, 0, 0.67);
		display: none;
	}
	.pg-produtos .pop-up.open-pop-up{
		display: block;
	}
	.pg-produtos .pop-up-produto{
		background-color: #f9f9f9;
		padding: 16px;
		border-radius: 4px;
		width: 100%;
		max-width: fit-content;
		margin: 23px auto 0;
		position: relative;
	}
		.pg-produtos .pop-up-produto span.close-button{
			background-image: url(../img/fancybox_sprite.png);
			display: block;
			width: 40px;
			height: 33px;
			position: absolute;
			right: -21px;
			top: -18px;
			cursor: pointer;
		}
		.pg-produtos .pop-up-produto figure{
			margin: 0 0 20px;
			max-width: 877px;
		}
			.pg-produtos .pop-up-produto figure img{
				width: 100%;
			}
		.pg-produtos .pop-up-produto p{
			display: inline-block;
			font-size: 13px;
			color: #000;
		}
			.pg-produtos .pop-up-produto a{
				display: inline-block;
				color: #e30b2e;
				text-decoration: none;
				border: solid 1px #ccc;
				padding: 6px;
				border-radius: 5px;
				text-align: center;
				font-family: var(--opensans);
				font-size: 12px;
			}
			.pg-produtos .pop-up-produto a:hover{
				background: #ccc;
				color: #fff;
			}