/* PÁGINA QUEM SOMOS */

.pg-quem-somos{

}
	.pg-quem-somos .quem-somos{
		width: 100%;
		max-width: 1018px;
		margin: 0 auto;
		padding: 0 10px;
	}
	.pg-quem-somos .secao-historia{

	}
		.pg-quem-somos .secao-historia h2{

		}
		.pg-quem-somos .secao-historia article{

		}
			.pg-quem-somos .secao-historia article p{

			}
		.pg-quem-somos .secao-historia figure{

		}
			.pg-quem-somos .secao-historia figure img{

			}
			.pg-quem-somos .secao-historia figure figcaption{

			}
	.pg-quem-somos .secao-fabrica{

	}
		.pg-quem-somos .secao-fabrica h2{

		}
		.pg-quem-somos .secao-fabrica article{

		}
			.pg-quem-somos .secao-fabrica article p{

			}
	.pg-quem-somos .secao-texto{

	}
		.pg-quem-somos .secao-texto h2{
			margin: 80px 18px 32px;
		}
		.pg-quem-somos .secao-texto article{
			padding: 0 18px;
		}
			.pg-quem-somos .secao-texto article p{
				line-height: 20px;
				margin-bottom: 20px;
				font-size: 12px;
				color: #575757;
			}
		.pg-quem-somos .secao-texto figure{
			max-width: 450px;
			margin: 0 auto;
		}
			.pg-quem-somos .secao-texto figure img{
				width: 100%;
			}
			.pg-quem-somos .secao-texto figure figcaption{
				display: block;
				text-align: center;
				color: #fff;
				/*font-size: 15px;*/
				background-color: #202020;
				font-family: var(--opensans);
				padding: 10px 0;
			}
	.pg-quem-somos .secao-cliente{

	}
		.pg-quem-somos .secao-cliente h2{
			margin: 80px 0 28px;
		}
		.pg-quem-somos .secao-cliente .lista-clientes{
			padding: 0;
			margin: 0;
			font-size: 0;
		}
			.pg-quem-somos .secao-cliente .lista-clientes li{
				display: inline-block;
				width: 100%;
				max-width: 199px;
				text-align: center;
				margin: 0 0 20px;
			}
				.pg-quem-somos .secao-cliente .lista-clientes li img{
					width: 100%;
					max-width: 170px;
				}
	.pg-quem-somos .entregas{
		background-color: #202020;
		margin: 50px 0 90px;
	}
		.pg-quem-somos .entregas figure{
			max-width: 601px;
		}
			.pg-quem-somos .entregas figure img{
				width: 100%;
			}
		.pg-quem-somos .entregas ul{
			font-size: 14px;
			margin: 47px 0;
			padding: 0;
		}
			.pg-quem-somos .entregas ul li{
				color: #fff;
				margin-bottom: 20px;
				font-family: var(--opensans);
				list-style: none;
			}
	.pg-quem-somos .section-sobre-empresa{
		margin: 0 0 90px;
	}
		.pg-quem-somos .section-sobre-empresa .topico{
			text-align: center;
			padding: 0 8px;
		}
			.pg-quem-somos .section-sobre-empresa .topico h4{
				color: var(--dourado);
				font-size: 18px;
			}
			.pg-quem-somos .section-sobre-empresa .topico p{

			}